.clock {
  width: 600px;
  height: 170px;
  font-size: 130px;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  margin: auto;
}

.text {
  font-size: 32px;
}